.App {
  text-align: center;
}

.Toggle-Example-2 {
  font-weight: bolder;
  text-emphasis-color: #000;
}

.Buttons button {
  background-color: #000;
  color: #fff;
  padding: 30px;
  margin: 20px;
  font-size: 1.5em;
  font-weight: bolder;
}
